body {
  min-height: 100vh;
  margin: 0;

  /* Flexbox Layout für Header, Content und Footer */
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 50px;
  color: #ffffff;
  background-color: #2487c6;
}

.content {
  flex-grow: 1;
  background-color: #f7f7f7;

  /* Flexbox zum Zentrieren des Inhalts */
  display: flex;
  justify-content: center;
}

.text {
  padding: 20px;
  /* verhindert dass der Text am Rand klebt */

  max-width: 700px;
  /* begrenzt die Textbreite */
}
